[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"pytest-pep8" = "*"
pytest-flakes = "*"
rstcheck = "*"
pytest-cov = "*"

[packages]

[requires]
python_version = "3.7.1"
